<!DOCTYPE html>
<html>
<head>
    <title>Video Downloader</title>
    <!-- Link to External CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Video Downloader</h1>
    
    {% if message %}
        <p class="{{ 'error' if 'ERROR' in message else 'message' }}">{{ message }}</p>
    {% endif %}
    
    <!-- Dropdown Form -->
    <form class="dropdown-form" action="{{ url_for('download_options') }}" method="post">
        <label for="download-type">Download Type:</label>
        <select id="download-type" name="download_type" onchange="this.form.submit()">
            <option value="video" {% if current_option == 'video' %}selected{% endif %}>Video</option>
            <option value="audio" {% if current_option == 'audio' %}selected{% endif %}>Audio</option>
        </select>
    </form>
    
    <!-- Download Form -->
    <form action="{{ url_for('download') }}" method="post">
        <label for="url">Video URL:</label><br>
        <input type="text" id="url" name="url" required>
        <input type="submit" value="Download">
    </form>
    
    <h2>Downloaded Files:</h2>
    {% if files %}
        <ul>
            {% for file in files %}
                <li><a href="{{ url_for('serve_file', filename=file) }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No files downloaded yet.</p>
    {% endif %}
    
    <div class="logout">
        <form action="{{ url_for('logout') }}" method="get">
            <input type="submit" value="Clear files">
        </form>
    </div>
</body>
</html>